

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
    font-family: cursive;
    cursor:default;
}

.calculator{
    position: relative;
    display: grid;
}

.calculator .value{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}

.calculator span{
    display: grid;
    width: 261px;
    height: 100px;
    color: #fff;
    background-color: #0c2835;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, .1);
}

.calculator span:active{
    background-color: #74ff3b;
    color: #111;
}

.calculator span.clear{
    background-color: #ff3077;
}


.calculator span.equal{
    background-color: #03b1ff;
}






@media(max-width:1500px){

    .calculator{
        margin-left: -65px;
    }
}

@media(max-width:1300px){

    .calculator{
        margin-left: -1px;
    }
}


@media(max-width:1080px){
    .calculator span{
    width: 230px;
    }
    .calculator{
        margin-left: -1px;
    }
}

@media(max-width:985px){
    .calculator span{
    width: 200px;
    }
}

@media(max-width:865px){
    .calculator span{
    width: 170px;
    }
    .calculator{
        margin-left: -2px;
    }
}

@media(max-width:730px){
    .calculator span{
    width: 140px;
    }
}

@media(max-width:615px){
    .calculator span{
    width: 110px;
    height: 70px;
    }
}

@media(max-width:500px){
    .calculator span{
    width: 90px;
    }
    .calculator{
        margin-left: -1px;
    }
}

@media(max-width:390px){
    .calculator span{
    width: 60px;
    }
    
    .calculator{
        margin-left: -2px;
    }
}


